{% extends "base.html" %}
{% block content %}

<form action = "/books" method = 'POST'>
<div>
    <label for="title">title:</label>
    <input type="text" id="title" name="title" placeholder="title" required autofocus>
    </div>

    <div>
    <label for="year_released">year released:</label>
    <input type="number" id="year_released" name="year_released" placeholder="year_released" required>
    </div>

    <div>
    <label for="genre">genre:</label>
    <input type="genre" id="genre" name="genre" placeholder="genre" required>
    </div>

    <div>
    <label for="author">author:</label>
    <select id="author" name="author_id">
        <!-- TODO -->
        {% for authors in all_authors%}
            <option value="{{authors.id}}"> {{authors.author_name}} </option>
        {% endfor %}
    </select>
    </div>

    <button type="submit">Add book</button
</form>

{% endblock %}